.main-page {
  text-align: left;
  background-color: #2c3e50; /* Set the background color */
  color: white;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text-content {
  max-width: 60%;
}

.text-content {
  max-width: 600px;
  color: white;
  padding: 20px; /* Add padding as needed */
  box-sizing: border-box; /* Include padding in element's total width and height */
  font-size: 1.2rem;
}


.image-content {
  flex-grow: 1;
  margin-left: 20px;
}

.main-page-image {
  width: 100%;
  border-radius: 8px; /* Optional: Add rounded corners to the image */
}
